server:
  port: 8082

spring:
  application:
    name: asset Domain Server
  r2dbc:
    url: r2dbc:pool:mysql://coinbuying.c5sgvczuoq5f.us-west-1.rds.amazonaws.com/asset_manage
    username: admin
    password: coin1234
    #initialization-mode: always
    port: 3306

logging:
  level:
    root: INFO
    org.springframework.r2dbc: DEBUG
